.layout-card-selector {
    border: 2px solid white;
    margin: 40px 40px 40px 40px;
    padding: 20px;
    border-radius: 20px;
    width: 570px;
    height: 80vh;
}

.results-loading, .results-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 65vh;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    padding: 10px 20px;
}

.tcgButton {
    border: 1px solid white;
    padding: 10px 20px;
}

#card-search {
    flex: 1;
    padding: 10px;
    font-size: 100%;
    border: 1px solid white;
    border-radius: 10px;
}

.card-image {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.card-image:hover {
    transform: scale(1.20);
    z-index: 999999999;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: grab;
}

.card-image:active {
    cursor: grabbing;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    padding: 20px;
    max-height: calc(80vh - 110px);
    overflow-y: auto;
}

.error-icon {
    stroke: white;
    height: 40px;
    width: 40px;
}



