.layout-card-list {
    border: 2px solid #404548;
    width: 100%;
    height: 80vh;
    margin: 40px 0 40px 40px;
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    flex-direction: row;
    justify-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    background-color: #1b1e1f;
    box-shadow: 0 0 10px 1px #AF95C8;
}

.cards-imgs {
    width: 100%;
    height: auto;
    max-width: none;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 130px;
    max-width: 130px;
}

.card-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    font-size: 15px;
}

.card-counter button {
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
}

#deck-size {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #1b1e1f;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 20px 0 20px 0;
    color: #F5F5F5;
}

#deck-handling {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: bold;
}